.HSB{
   background:linear-gradient(45deg,
              rgba(250, 88, 164, 0.637),
              rgba(124, 238, 238, 0.562)), url("https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
   background-size: cover;
   background-position: center;
   
}